.container {
  display: flex-row;
}

.skeleton {
  width: 144px;
  height: 144px;
  background: linear-gradient(90deg, #1B1B1B  25%, #191919   50%, #2E2E2E 75%);
  background-size: 200%;
  animation: shimmer 2s infinite linear;
  border-radius: 10px;
}
.mainHeader {
  width: 144px;
  height: 20px;
  background: linear-gradient(90deg, #1B1B1B  25%, #191919   50%, #2E2E2E 75%);
  background-size: 200%;
  animation: shimmer 2s infinite linear;
  margin-top: 8px;
}
.subHeader {
  width: 144px;
  height: 10px;
  background: linear-gradient(90deg, #1B1B1B  25%, #191919   50%, #2E2E2E 75%);
  background-size: 200%;
  animation: shimmer 2s infinite linear;
  margin-top: 4px;
  margin-bottom: 4px;
}

@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}
